[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/greenfield-contracts-sdk"]
	path = lib/greenfield-contracts-sdk
	url = https://github.com/bnb-chain/greenfield-contracts-sdk
